
@{
    Layout = null;
}

<div align="center">
    <h2><b>Dobrodosli na Taxi servis</b></h2>
</div>
<div align="center">
    <a href="/Taxi/GoToLogin">Log in</a>
    &nbsp;
    <a href="/Taxi/GoToRegistration">Registracija</a>
</div>


