
@{
    Layout = null;
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>

    .w3-lobster {
        font-family: "Allerta Stencil", Sans-serif;
    }
</style>
<body style="background-image:url(https://static.superiorwallpapers.com/images/lthumbs/2015-05/7926_Yellow-taxi-from-New-York-City.jpg); background-repeat: no-repeat; background-size: cover">
    <div align="center">
        <h2><b>Dobrodosli na Taxi servis</b></h2>
    </div>
    <div align="center" class="w3-bar w3-border w3-transparent w3-border-black">
        <a href="/Taxi/GoToLogin" class="w3-bar-item w3-button w3-right w3-text-white">Log in</a>
        &nbsp;
        <a href="/Taxi/GoToRegistration" class="w3-bar-item w3-button w3-right w3-text-white">Registracija</a>
    </div>
</body>

