@using Taxi_MVC.Models;
@{
    Layout = null;
}

<h2>Navedite vas razlog za otkazivanje voznje</h2>
<textarea name="komentar" form="usrform"></textarea>
<form action="/Taxi/Komentarisi" method="post" id="usrform">
    @if(ViewBag.voznja.StatusVoznje == EStatus.OTKAZANA || ViewBag.voznja.StatusVoznje == EStatus.USPESNA)
    {
        <input hidden type="number" value="0" name="ocena" />
    }
    else
    {
        <p>Ocena</p>
        <input type="number" min="1" max="5" name="ocena" />
    }
    <input type="hidden" value="@ViewBag.voznja.DatumVremePorudzbine" name="date" />
    <input type="submit" value="Potvrdite" />
</form>
