@using Taxi_MVC.Models;
@{
    Layout = null;
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://static.superiorwallpapers.com/images/lthumbs/2015-05/7926_Yellow-taxi-from-New-York-City.jpg); background-repeat: no-repeat; background-size: cover">

    <div>
        <a href="/Taxi/GoToHomeAdmin">Pocetak na pocetnu stranicu</a>
    </div>
    <form action="/Taxi/KreirajVoznju" method="post">
        <table border="0">
            <tr>
                <td>
                    X koordinata
                </td>
                <td>
                    <input type="number" name="XCoord" />
                </td>
            </tr>
            <tr>
                <td>
                    Y koordinata
                </td>
                <td>
                    <input type="number" name="YCoord" />
                </td>
            </tr>
            <tr>
                <td>
                    Ulica
                </td>
                <td>
                    <input type="text" name="Ulica" />
                </td>
            </tr>
            <tr>
                <td>
                    Broj
                </td>
                <td>
                    <input type="number" name="Broj" />
                </td>
            </tr>
            <tr>
                <td>
                    Mesto
                </td>
                <td>
                    <input type="text" name="Mesto" />
                </td>
            </tr>
            <tr>
                <td>
                    Pozivni broj
                </td>
                <td>
                    <input type="number" name="PozivniBroj" />
                </td>
            </tr>
            <tr>
                <td>
                    Tip automobila
                </td>
                <td>
                    <select name="tip">
                        <option value="NEOZNACEN"></option>
                        <option value="PUTNICKI">
                            Putnicki
                        </option>
                        <option value="KOMBI">
                            Kombi
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Vozac
                </td>
                <td>
                    <select name="vozac">
                        @foreach (KeyValuePair<string, Vozac> kv in ViewBag.vozaci)
                        {
                            if (!kv.Value.Zauzet)
                            {
                                <option value="@kv.Key">@kv.Key</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Kreiraj" />
                </td>
            </tr>
        </table>
    </form>
</body>