
@{
    Layout = null;
}

<form action="/Taxi/KreiranjeVozaca" method="post">
    <table border="0">
        <tr>
            <td>
                Korisnicko ime
            </td>
            <td>
                <input type="text" name="KorisnickoIme" />
            </td>
        </tr>
        <tr>
            <td>
                Lozinka
            </td>
            <td>
                <input required type="password" name="Lozinka" />
            </td>
        </tr>
        <tr>
            <td>
                Ime
            </td>
            <td>
                <input type="text" name="Ime" />
            </td>
        </tr>
        <tr>
            <td>
                Prezime
            </td>
            <td>
                <input type="text" name="Prezime" />
            </td>
        </tr>
        <tr>
            <td>
                Pol
            </td>
            <td>
                <select name="Pol">
                    <option value="MUSKI">
                        Muski
                    </option>
                    <option value="ZENSKI">
                        Zenski
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="email" name="Email" />
            </td>
        </tr>
        <tr>
            <td>
                JMBG
            </td>
            <td>
                <input type="number" name="JMBG" />
            </td>
        </tr>
        <tr>
            <td>
                Telefon
            </td>
            <td>
                <input type="number" name="Telefon" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Save" />
            </td>
        </tr>
        <tr>
            <td>
                Godiste automobila
            </td>
            <td>
                <input type="number" min="1900" max="2018" name="Godiste" />
            </td>
        </tr>
        <tr>
            <td>
                Registarska oznaka
            </td>
            <td>
                <input type="text" name="RegistarskaOznaka" />
            </td>
        </tr>
        <tr>
            <td>
                Broj vozila
            </td>
            <td>
                <input type="number" name="BrojVozila" />
            </td>
        </tr>
        <tr>
            <td>
                Tip automobila
            </td>
            <td>
                <select name="TipAutomobila">
                    <option value="PUTNICKI">
                        Putnicki
                    </option>
                    <option value="KOMBI">
                        Kombi
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                X kordinata
            </td>
            <td>
                <input type="text" name="Xkordinata" />
            </td>
        </tr>
        <tr>
            <td>
                Y kordinata
            </td>
            <td>
                <input type="text" name="Ykordinata" />
            </td>
        </tr>
        <tr>
            <td>
                Ulica
            </td>
            <td>
                <input type="text" name="Ulica" />
            </td>
        </tr>
        <tr>
            <td>
                Broj
            </td>
            <td>
                <input type="text" name="Broj" />
            </td>
        </tr>
        <tr>
            <td>
                Mesto
            </td>
            <td>
                <input type="text" name="Mesto" />
            </td>
        </tr>
        <tr>
            <td>
                Pozivni broj
            </td>
            <td>
                <input type="text" name="PozivniBroj" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

