
@{
    Layout = null;
}


<form action="/Taxi/OdredisteIznos" method="post">
    <table border="0">
        <tr>
            <td>
                X koordinata
            </td>
            <td>
                <input type="number" name="XCoord">
            </td>
        </tr>
        <tr>
            <td>
                Y koordinata
            </td>
            <td>
                <input type="number" name="YCoord">
            </td>
        </tr>
        <tr>
            <td>
                Ulica
            </td>
            <td>
                <input type="text" name="Ulica">
            </td>
        </tr>
        <tr>
            <td>
                Broj
            </td>
            <td>
                <input type="number" name="Broj">
            </td>
        </tr>
        <tr>
            <td>
                Mesto
            </td>
            <td>
                <input type="text" name="Mesto">
            </td>
        </tr>
        <tr>
            <td>
                Pozivni broj
            </td>
            <td>
                <input type="number" name="PozivniBroj">
            </td>
        </tr>
        <tr>
            <td>
                Iznos
            </td>
            <td>
                <input type="number" name="cena">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Unesi"/>
            </td>
        </tr>
    </table>
</form>

