@using Taxi_MVC.Models;
@{
    Layout = null;
}

<div>
    <a href="/Taxi/GoToHomeVozac">Povratak na pocetnu stranicu</a>
</div>

<form action="/Taxi/PromenaStatusaVoznje" method="post">
    <table border="0">
        <tr>
            <td>
                <select name="status">
                    <option value="NEUSPESNA">
                        Neuspesna
                    </option>
                    <option value="USPESNA">
                        Uspesna
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Promeni status" />
            </td>
        </tr>
    </table>
</form>

