@using Taxi_MVC.Models;
@{
    Layout = null;
}

<h2>Korisnicko ime je zauzeto, izaberite drugo korisnicko ime</h2>

<form action="/Taxi/Registration" method="post">
    <table border="1">
        <tr>
            <td colspan="2" align="center">
                <b>Registracija</b>
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                Korisnicko ime
            </td>
            <td>
                <input type="text" name="KorisnickoIme" />
            </td>
        </tr>
        <tr>
            <td>
                Lozinka
            </td>
            <td>
                <input type="password" name="Lozinka" />
            </td>
        </tr>
        <tr>
            <td>
                Ime
            </td>
            <td>
                <input type="text" name="Ime" value="@ViewBag.korisnik.Ime" />
            </td>
        </tr>
        <tr>
            <td>
                Prezime
            </td>
            <td>
                <input type="text" name="Prezime" value="@ViewBag.korisnik.Prezime" />
            </td>
        </tr>
        <tr>
            <td>
                Pol
            </td>
            <td>
                <select name="Pol">
                    @if (ViewBag.korisnik.Pol == EPol.MUSKI)
                    {
                        <option selected value="MUSKI">
                                Muski
                        </option>
                        <option value="ZENSKI">
                                Zenski
                        </option>
                    }
                    else
                    {
                        <option value="MUSKI">
                                Muski
                        </option>
                        <option selected value="ZENSKI">
                                Zenski
                        </option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                JMBG
            </td>
            <td>
                <input type="text" name="JMBG" value="@ViewBag.korisnik.JMBG"/>
            </td>
        </tr>
        <tr>
            <td>
                Telefon
            </td>
            <td>
                <input type="number" name="Telefon" value="@ViewBag.korisnik.Telefon" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Registruj" name="SubmitReg" />
            </td>
        </tr>
    </table>
</form>

